# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\17138\Desktop\Sirius\Programming\BookstoreSystem\.idea
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
